{{ register_asset_bundle('frontend/assets/AppAsset') }}
{{ void(this.beginPage()) }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
  <head>
    <meta charset="{{ app.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ html.encode(title) }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ keywords }}" />
    {{ html.csrfMetaTags | raw }}
    {% block meta %}{% endblock %}
    {% block headjs %}{% endblock %}
    {% block css %}{% endblock %}
    {{ void(this.head) }}
  </head>
  <body>
    {{ void(this.beginBody()) }}
    {% block content %}{% endblock %}
    {{ void(this.endBody()) }}
  </body>
</html>
{{ void(this.endPage()) }}