{% extends "@app/views/_layouts/main.twig" %}
{% block content %}
{{ use('yii/widgets/LinkPager') }}
<div class="container">
  <h1>{{ title }}</h1>
  <div>
  {% for image in images %}
    <div class="col-md-4">
    {% include "@app/views/_components/image.twig" with { image: image} %}
    </div>
  {% endfor %}
  </div>
  {{ link_pager_widget({'pagination': pages}) }}
</div>
{% endblock %}