{% extends "@app/views/_layouts/main.twig" %}
{% set title = 'My Yii Application' %}
{% block content %}
<div class="container">
  <h1>Value of a constant which defined index.php entry script</h1>
  <pre>
    <code>
      {{ constant }}
    </code>
  </pre>
  <h1>Value of a variable which defined params-local.php entry script</h1>
  <pre>
    <code>
      {{ param_var }}
    </code>
  </pre>
</div>
{% endblock %}