<div class="thumbnail">
  <a href="{{ image.image }}">
    <img src="{{ image.image }}" alt="{{ image.caption }}" style="width:100%">
    <div class="caption">
      <div>{{ image.caption }}</div>
      <div>
        Category: {{ image.category.name }}
      </div>
      <small>{{ image.updated_at }}</small>
    </div>
  </a>
</div>